$pink: #EA4C89;
$blue: #4285F4;
$bluedark: #1e6189;
$white: #fff;
$gray1: #E0E0E0;
$gray2: #F2F2F2;
$gray3: #F5F6F7;
$gray4: #999999;
$gray5: #757575;
$black: #333333;

$borderRadius: 4px;

$fontFamily: "Haas Grot", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 13px;
$baseFontWeight: 400;

// ---------------
// Layout and Grid
// ---------------
$xl: 1200px;
$lg: 960px;
$md: 768px;
$sm: 544px;
$columns: 12;